# block executable, library and tmp file
block/OH
block/block.spin_adapted
block/genetic/gaopt
*.o
*.a
*.so
*.dylib
*.tmp

# python bitcode
*.pyc

# vi temp file
*.swp

# latex temp file
*.aux
*.dvi
*.log
